{% extends 'InvoiceEngineApp/base.html' %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'base_component_create' company_id %}">Create new base component</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'tenancy_list'%}">Company list</a>
    </li>
{% endblock %}

{% block content %}
    <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            {% for object in page_obj %}
                                {% if forloop.first %}
                                    <thead>
                                        <tr class="border-bottom">
                                            <td style="text-align: right"><p style="font-size: 20px">Code</p></td>
                                            <td style="text-align: right"><p style="font-size: 20px">Unit ID</p></td>
                                            <td><p style="font-size: 20px">Description</p></td>
                                            <td><p style="font-size: 20px">General ledger debit</p></td>
                                            <td><p style="font-size: 20px">General ledger credit</p></td>
                                            <td><p style="font-size: 20px">General ledger dimension</p></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                {% endif %}
                                <tbody>
                                    <tr>
                                        <td style="text-align: right">{{ object.code }}</td>
                                        <td style="text-align: right">{{ object.unit_id }}</td>
                                        <td>{{ object.description }}</td>
                                        <td>{{ object.gl_debit }}</td>
                                        <td>{{ object.gl_credit }}</td>
                                        <td>{{ object.gl_dimension }}</td>
                                        <td style="text-align: center">
                                            {% if object.can_update_or_delete %}
                                                <a class="link-primary" href="{% url 'base_component_update' company_id object.base_component_id %}">Update</a>
                                                <a class="link-primary" href="{% url 'base_component_delete' company_id object.base_component_id %}">Delete</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            {% empty %}
                                <h5>No registered base components</h5>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Pagination back and next links #}
    <div class="pagination" style="padding-left: 15px; padding-bottom: 15px">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
