{% extends 'InvoiceEngineApp/base.html' %}

{% block content %}
    <div class="col">
        <div class="card shadow p-3 mb-5 bg-body rounded" >
            <div class="card-body">
                <p style="text-align: center;margin: auto;">Welcome, log in with your USER ID below:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                <p style="text-align: center;"><a href="{% url 'login' %}"><button class="btn btn-primary">Login</button></a></p>
            </div>
        </div>
    </div>
{% endblock %}
